// Set color variables which control the site theme.
.fire-mage-sim-ui {
	@include theme-color($mage, 0.95, '/mop/assets/img/mage_background.jpg');

	.number-picker-input[id^='combust'] {
		width: 7rem;
		text-align: right;
	}
}

.combustion-thresholds-modal {
	table {
		td,
		th {
			padding: 0.5rem 1rem;
			text-align: right;
			font-size: var(--content-font-size);
		}

		th {
			border-bottom: 2px solid var(--bs-table-accent-bg);
		}

		tr {
		}
	}
}
