@layer theme, base, components, utilities;

@import 'tailwindcss/theme.css' layer(theme);
@import 'tailwindcss/utilities.css' important;

@import './theme.css';

@source '../app';
@source '../features';
@source '../sim';
@source '../specs';
@source '../ui-kit';
@source '../tracking';
@source '../generated';
@source '../index.html';
@source '../index_template.html';

@source '../../assets/locales/**/*.json';

@source inline("{text,bg,border}-class-{death-knight,druid,hunter,mage,monk,paladin,priest,rogue,shaman,warlock,warrior}");

@utility container {
	--bs-gutter-x: 1.5rem;
	--bs-gutter-y: 0;
	width: 100%;
	max-width: 100%;
	padding-right: calc(var(--bs-gutter-x) * 0.5);
	padding-left: calc(var(--bs-gutter-x) * 0.5);
	margin-left: 0;
	margin-right: 0;

	@media (width >= 992px) {
		max-width: 960px;
		margin-left: auto;
		margin-right: auto;
	}
	@media (width >= 1200px) {
		max-width: 1140px;
	}
	@media (width >= 1400px) {
		max-width: 1320px;
	}
}

@utility text-fluid-xl {
	font-size: calc(1.275rem + 0.3vw);

	@media (width >= 1200px) {
		font-size: 1.5rem;
	}
}

@utility interactive {
	cursor: pointer;
	user-select: none;
}

@utility icon-sm {
	display: inline-block;
	min-width: var(--spacing-icon-sm);
	width: var(--spacing-icon-sm);
	height: var(--spacing-icon-sm);
	background-size: cover;
}

.d-flex {
	display: flex !important;
}
.flex-column {
	flex-direction: column !important;
}
.align-items-end {
	align-items: flex-end !important;
}
.justify-content-end {
	justify-content: flex-end !important;
}
.w-100 {
	width: 100% !important;
}
.gap-3 {
	gap: 1rem !important;
}
