@layer components {
.ui-dr-filling-pane {
	@apply group-not-data-[no-results]/dr:[&.active]:flex group-not-data-[no-results]/dr:[&.active]:flex-col
		group-not-data-[no-results]/dr:[&.active]:min-h-(--dr-filling-pane-min-height);
}

.group\/dr:not([data-no-results]) .ui-dr-filling-pane.active > .dr-row,
.group\/dr:not([data-no-results]) .ui-dr-filling-pane.active > .dr-row > * {
	display: flex;
	flex-direction: column;
	flex: 1 1 auto;
	min-height: 0;
}
}
