@layer components {
	.ui-dr-filling-pane {
		@apply group-not-data-no-results/dr:not-data-hidden:flex group-not-data-no-results/dr:not-data-hidden:min-h-(--dr-filling-pane-min-height) group-not-data-no-results/dr:not-data-hidden:flex-col;
	}

	.group\/dr:not([data-no-results]) .ui-dr-filling-pane:not([data-hidden]) > .ui-dr-row,
	.group\/dr:not([data-no-results]) .ui-dr-filling-pane:not([data-hidden]) > .ui-dr-row > * {
		display: flex;
		flex-direction: column;
		flex: 1 1 auto;
		min-height: 0;
	}
}
