#rotation-tab {
	&.rotation-type-auto {
		.rotation-tab-simple,
		.rotation-tab-apl {
			display: none;
		}
	}

	&.rotation-type-simple {
		.rotation-tab-auto,
		.rotation-tab-apl {
			display: none;
		}
	}

	&.rotation-type-apl {
		.rotation-tab-auto,
		.rotation-tab-simple {
			display: none;
		}
	}

	#rotation-tab-rotation-type {
		padding: var(--spacer-3) 0;
	}

	.rotation-tab {
		@extend .tab-pane-content-container;

		width: 100%;
	}

	.rotation-tab-auto {
		.tab-panel-left {
			display: flex;
			flex-direction: column;
		}
	}

	.rotation-tab-simple {
		.rotation-tab-col {
			display: flex;
			flex-direction: column;
		}

		.simple-rotation-container {
			--columns: 1fr 1fr;
			display: grid;
			grid-template-columns: var(--columns);
			gap: var(--container-padding);

			@include media-breakpoint-down(xl) {
				--columns: 1fr;
			}
		}
	}

	.rotation-tab-apl {
		gap: var(--gap-width) var(--container-padding);

		.apl-rotation-navbar {
			flex: 1 0 100%;
			gap: var(--spacer-1);

			.nav-tabs {
				margin-left: auto;
				border: 0;
				display: flex;
				flex-wrap: nowrap;
				overflow: auto;
				flex-shrink: 1;
			}
		}

		.tab-pane {
			padding-top: 0;
			gap: var(--section-spacer);

			&.active {
				display: flex;
				flex-direction: column;
			}
		}
	}
}
