.ui-list-picker-root {
	@apply flex-col items-center gap-3;

	&.horizontal {
		@apply flex-row items-center;

		& .ui-list-picker-items {
			@apply flex-row flex-wrap items-center;
		}
	}

	&.list-picker-compact {
		& .list-picker-item-container {
			border: 0;
			padding: 0 !important;
		}

		& .list-picker-item-header {
			display: none !important;
		}
	}
}

.ui-list-picker-items {
	@apply w-full gap-3;
	--drag-background-spacing: 0;
}

.list-picker-item-container {
	border: var(--border-default);

	& .ui-list-picker-items {
		--drag-background-spacing: var(--apl-spacer);
	}

	&.dragfrom {
		background-color: color-mix(in srgb, var(--color-background) 80%, transparent);
		filter: opacity(0.5);
		cursor: move;
	}

	&.draggable {
		cursor: grab;

		&:hover:not(:has(.list-picker-item-container.draggable:hover)) {
			&::after {
				content: '';
				position: absolute;
				top: calc(var(--drag-background-spacing) * -1);
				left: calc(var(--drag-background-spacing) * -1);
				height: calc(100% + var(--drag-background-spacing) * 2);
				width: calc(100% + var(--drag-background-spacing) * 2);
				background-color: color-mix(in srgb, var(--color-border) 20%, transparent);
				pointer-events: none;
			}
		}
	}

	&.inline {
		display: flex;

		& .list-picker-item-header {
			padding: 0;
			border: 0;
			margin: 0;
		}
	}

	&:not(.inline) {
		padding: var(--spacer-3);

		& .list-picker-item-header .list-picker-item-action:first-of-type {
			margin-left: auto;
		}
	}

	& .list-picker-item-header {
		padding-bottom: var(--spacing-stack);
		border-bottom: var(--border-default);
		margin-bottom: var(--spacing-stack);
		display: flex;
		align-items: center;
		flex: 1;
		--list-picker-item-spacing: var(--spacer-2);
		gap: var(--list-picker-item-spacing);

		& .list-picker-item-title {
			margin-bottom: 0;
		}

		& .list-picker-item-popover {
			font-size: inherit;
			display: flex;
			gap: var(--list-picker-item-spacing);
		}
	}
}

.list-picker-title {
	border-bottom: var(--border-default);
	font-weight: bold;
}
