.apl-group-editor-root {
	.list-picker-title {
		font-weight: normal;
	}

	.list-picker-new-button {
		width: unset !important;
	}
}

.group-reference-variables-container {
	.list-picker-root {
		.list-picker-items {
			gap: calc(var(--apl-spacer) * 1.5) !important;
		}
	}
}
