.character-stats-table {
	padding: 10px;
}

.glyphs-picker {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.consumes-battle-elixirs:has(.hide),
.consumes-guardian-elixirs:has(.hide) {
	display: none;
}
