.content-block {
	gap: var(--spacing-stack);

	.content-block-header {
		padding-bottom: var(--spacer-2);
		border-bottom: var(--border-default);
	}

	.content-block-body {
		display: flex;
		gap: var(--spacing-stack);
	}
}
