.dropdown-picker-root {
	.dropdown-picker-button {
		border: 0;

		&:hover {
			color: rgba(var(--bs-white-rgb), 0.8);
		}
	}
}

.dropdown-picker-button,
.dropdown-picker-item .dropdown-item {
	display: flex;
	align-items: center;
}

.dropdown-picker-item .dropdown-submenu {
	left: -1px !important;
}

.dropdown-picker-root .dropdown {
	width: auto;
}

.dropdown-header {
	color: var(--bs-gray-300);
}
