.input-root {
	display: flex;
	flex-direction: column;
	align-items: flex-start;

	&.input-inline,
	&.icon-picker {
		label {
			overflow: unset !important;
			text-overflow: unset !important;
		}
	}

	&:not(.input-inline):not(.icon-picker) {
		@include media-breakpoint-down(md) {
			flex-direction: column !important;
			align-items: flex-start !important;
			gap: calc(var(--spacer-2));
		}

		label {
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			max-width: 100%;
		}
	}
}

.input-inline {
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

	label {
		margin-right: var(--spacer-2);
		margin-bottom: 0;
	}

	input:not(.form-check-input),
	select {
		width: 5rem;
	}
}

.picker-group {
	width: 100%;
	display: grid;
	gap: var(--spacing-stack);
	grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));

	.input-root {
		margin-bottom: 0;
	}
}
