@use 'sass:map';

.saved-data-manager-root {
	.saved-data-container {
		display: flex;
		flex-direction: column;
		gap: var(--spacing-stack);

		.saved-data-presets,
		.saved-data-custom {
			display: flex;
			flex-wrap: wrap;
			gap: var(--spacing-stack);
		}
	}

	.saved-data-create-container {
		display: flex;
		flex-direction: column;

		.saved-data-save-input,
		.saved-data-save-button {
			width: 10rem;
		}

		.saved-data-save-input {
			margin-bottom: var(--spacing-stack);
		}
	}
}

@include media-breakpoint-down(xxl) {
	.saved-data-manager-root {
		.saved-data-create-container {
			.saved-data-save-input {
				width: 100%;
			}

			.saved-data-save-button {
				width: 100%;
			}
		}
	}
}
