.suggest-reforges-settings-group {
	--settings-button-width: 36px;
	display: grid !important;
	grid-template-columns: auto var(--settings-button-width);
	order: 20; // Force button last in the container
}

.suggest-reforges-action-button {
	margin-right: calc(var(--settings-button-width) * -1);
}

.suggest-reforges-button-settings {
	width: var(--settings-button-width);
}
