@import 'shared/tokens';

.bulk-item-picker-group-root {
	margin-bottom: 0 !important;

	.content-block-header {
		border-bottom: 0;
		margin-bottom: 0;
		padding-bottom: 0;
	}

	.content-block-body {
		gap: var(--block-spacer);
	}
}

.bulk-item-picker.item-picker-root {
	border: var(--border-default);

	&.bulk-item-picker-equipped {
		border-color: var(--bs-brand);
	}

	&.bulk-item-picker-frozen {
		border-color: red;
		border-width: 3px;
	}

	.item-picker-actions-container {
		margin-left: var(--spacer-2);
		gap: var(--spacer-1);
		display: grid;
		grid-auto-flow: column;
		align-items: start;

		.item-picker-actions-btn {
			line-height: 1;
		}

		.dropdown-menu {
			i {
				width: 1rem;
				margin-right: var(--spacer-1);
			}
		}
	}
}
