@mixin horizontal-center {
	margin: 0;
	position: absolute;
	left: auto;
	right: auto;
}

@mixin vertical-bottom {
	position: absolute;
	bottom: 0;
}

@mixin wowhead-background-icon {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center !important;
	position: relative;
	cursor: pointer;
	display: inline-block;
}
