.sim-header {
	position: sticky;
	top: -1px;
	height: var(--sim-header-height);
	padding-top: var(--spacing-gutter);
	padding-left: var(--spacing-page);
	padding-right: var(--spacing-page);
	margin-left: calc(-1 * var(--spacing-page));
	margin-right: calc(-1 * var(--spacing-page));
	white-space: nowrap;
	transition: background-color 0.15s ease-in-out;
	z-index: var(--z-header);

	@include media-breakpoint-down(lg) {
		padding-top: var(--spacing-gutter-sm);
	}

	&::after {
		content: ' ';
		position: absolute;
		bottom: -1px;
		left: 0;
		right: 0;
		width: calc(100% - 2 * var(--spacing-page));
		height: 1px;
		margin-left: auto;
		margin-right: auto;
		background-color: var(--color-border);
		transition: width 0.15s ease-in-out;
	}

	&.stuck {
		background: var(--color-background);

		&::after {
			width: 100%;
		}
	}

	.sim-header-container {
		height: 100%;
		display: flex;
		align-items: stretch;
		flex: 1;
		// Horizontal scroll for smaller screens
		// TODO: This is not a good solution
		overflow-x: scroll;
		-ms-overflow-style: none; /* IE and Edge */
		scrollbar-width: none; /* Firefox */

		&::-webkit-scrollbar {
			display: none;
		}
	}

	.sim-tabs,
	.import-export,
	.sim-toolbar {
		display: flex;
		flex-wrap: nowrap;
		align-items: flex-end;
		font-weight: bold;
	}

	.import-export {
		.import-link,
		.export-link {
			padding: var(--tab-padding-y) var(--tab-padding-x);
			font-size: var(--tab-font-size);
			transition: var(--nav-link-transition);

			&[data-popup-open] {
				color: var(--color-white);
			}
		}
	}

	.sim-toolbar {
		margin-left: auto;
		font-size: var(--text-ui);

		.sim-toolbar-item,
		.sim-toolbar-socials {
			margin-left: var(--spacer-3);
			display: flex;

			a,
			button {
				margin-top: var(--tab-padding-y);
				margin-bottom: var(--tab-padding-y);
			}
		}

		.sim-toolbar-item {
			transition: var(--link-transition);
		}

		.sim-toolbar-socials {
			margin-top: calc(var(--tab-padding-y) / 2);
			margin-bottom: calc(var(--tab-padding-y) / 2);
			border-left: var(--border-default);

			a,
			button {
				margin-top: calc(var(--tab-padding-y) / 2);
				margin-bottom: calc(var(--tab-padding-y) / 2);
			}
		}
	}

	.sim-dropdown-menu {
		display: flex;
		position: unset;
	}
}
